  <h2 style="color:#204d74">{{item.name}}</h2>
    
   <br>   
 <md-card class="example-card" mdTooltip="Task assigned to {{item.name}}">

 <!--<img style="height:100px;width:100px"id="ground" src={{item.image}}>-->
 <br>


  <md-card-content>

<br>
<img src="./assets/calendartask.jpg"><strong>&nbsp;&nbsp;</strong>From   {{item.taskDTO.dateFrom}} To {{item.taskDTO.dateTo}}
<br>
<br>
<img src="./assets/property.jpg"><strong>&nbsp;&nbsp;</strong>{{item.propertyDTO.name}} Located in  {{item.propertyDTO.address}}
<br>
<br>
<img src="./assets/wrench.jpg"><strong>&nbsp;&nbsp;</strong>{{item.taskDTO.name}}<br>
<br>
   <img src="./assets/email.jpg"><strong>&nbsp;&nbsp;</strong>{{item.email}}
<br>
<br>
   <img src="./assets/cellphone.jpg"><strong>&nbsp;&nbsp;</strong>{{item.telephone}}
<br>
<br>
 <img src="./assets/eye.jpg"><strong>&nbsp;&nbsp;</strong>{{item.taskDTO.remarks}}<br>
<br>


  

  </md-card-content>
  <md-card-actions align="end">
           <td><button md-raised-button (click)="dialogRef.close()">Close</button></td>
  </md-card-actions>
</md-card>